:root { 
--blue_A700_26:#005cff26; 
--gray_50_01:#f9f9f9; 
--pink_400_26:#e84c8826; 
--blue_A400:#1877f2; 
--deep_orange_100_01:#fbbebe; 
--indigo_A100:#8982ff; 
--blue_A200:#4285f4; 
--deep_orange_100_02:#feb8b8; 
--light_blue_800_26:#0274b326; 
--teal_300:#5bcaa1; 
--deep_orange_300:#eb996e; 
--blue_gray_900_02:#31343b; 
--gray_200_01:#eeeeee; 
--blue_gray_700:#455a64; 
--blue_gray_900_01:#263238; 
--blue_gray_900:#2f2e41; 
--pink_300:#ff6584; 
--deep_orange_100:#ffb6b6; 
--gray_600:#a0616a; 
--gray_400:#cacaca; 
--blue_gray_100:#cccccc; 
--amber_500:#fbbc05; 
--gray_800:#35383f; 
--green_A700_3f:#1ab65c3f; 
--gray_200:#ebebeb; 
--amber_600_26:#ffb70026; 
--gray_100_03:#f3f4ef; 
--deep_purple_50:#edecff; 
--gray_100_02:#f3f3f3; 
--gray_100_01:#f5f5f5; 
--cyan_600:#19acb6; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4b5060; 
--blue_gray_50:#f1f1f1; 
--light_blue_500_26:#00aff026; 
--red_500:#eb4335; 
--green_600:#34a853; 
--gray_50:#fafafa; 
--deep_purple_300:#8871e4; 
--black_900:#000000; 
--gray_900_a2:#1b1f31a2; 
--blue_gray_800:#3f3d56; 
--green_A700_26:#1dd75f26; 
--deep_orange_200:#ffbe9d; 
--gray_500:#aaaaaa; 
--blue_gray_400:#888888; 
--gray_900:#071232; 
--gray_900_01:#181a20; 
--gray_300:#e6e6e6; 
--gray_300_02:#e0e0e0; 
--gray_300_01:#e4e4e4; 
--cyan_600_01:#1aadb6; 
--gray_100:#f2f2f2; 
--gray_400_26:#bbbbbb26; 
--red_A700_26:#e5081226; 
}